@media screen and (max-width: 700px) { 

    .header_nav {
        display: none;
    }

    .btn_menu {
        display: block;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }

    .responsive_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        right: 0;
        width: 150px;
        height: 100vh;
        background-color: #293038;
    }

    .header_responsive_menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .btn_fechar {
        margin: 5px;
        display: block;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }

    .nav_ul_responsive_menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .nav_ul_responsive_menu li {
        margin-bottom: 5px;
    }

    .tema_menu {
        margin-bottom: 20px;
    }
}