@media screen and (max-width: 700px) { 

    .responsive_menu div{
       width: 100%;
    }

    .responsive_menu {
        z-index: 100;
    }

    .header_nav {
        display: none;
    }

    .btn_menu {
        display: block;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }

    .responsive_menu {
        width: 200px;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        right: 0;
        background-color: var(--menu-bg);
    }

    .header_responsive_menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .btn_fechar {
        margin: 5px;
        display: block;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }

    .nav_ul_responsive_menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .nav_ul_responsive_menu li {
        margin-bottom: 5px;
    }

    .tema_menu {
        margin-bottom: 20px;
    }

    .privacy_policy { /*Tirar daqui e colocar em uma
                      folha de estilo que faça sentido*/
        display: none;
    }

    button {
        width: 3rem;
        height: 3rem;
        background-image: url(../../imgs/index/mode.png);
        background-position: center center;
        background-size: cover;
        background-color: white;
        border: none;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}