@media screen and (max-width: 1150px) , (max-height: 560px) {
    .container_main {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
    }

    .left_container , .right_container {
        width: 100%;
        padding: 0;
    }

    .left_container {
        margin-bottom: 50px;
    }

    .left_container div {
        width: 100%;
        padding: 0;
    }

    .form {
        width: 100%;
        padding: 0;
    }

    .form h2 {
      font-size: 1.2rem;
    }

    .my_animation {
        justify-content: center;
    }

    .svg_melhoria {
        margin: 0;
    }

    .nome_email_container {
        flex-direction: column;
    }

    .nome_completo {
        width: 100%;
    }
    
    .e_mail {
        width: 100%;
    }

    .assunto_submit_container {
        flex-direction: column;
    }

    .label_assunto {
        width: 100%;
    }

    .label_btn_enviar {
        width: 100%;
    }

    .footer {
        margin-top: 50px;
    }
}